//レスポンシブ幅
$small: "only screen and (max-width:639px)";
$middle: "only screen and (min-width:640px) and (max-width:1010px)";
$both: "only screen and (max-width:1010px)";
$large:  "only screen and (min-width:1010px)";
