@charset "utf-8";

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "游ゴシック", "YuGothic", sans-serif;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}

.cf:before,
.cf:after{
  content:"";
  display: table;
}
.cf:after{
  clear:both;
}
